<div class="loginform">
<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()" >
   <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="name" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" [(ngModel)]="username" class="form-control"  name="username">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email"  [(ngModel)]="email" class="form-control" name="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" [(ngModel)]="password" class="form-control"  name="password">
  </div>
  <div class="form-group">
    <label>confirmpassword</label>
    <input type="password" [(ngModel)]="confirmPassword" class="form-control"  name="confirmPassword">
  </div>
  <!-- <div class="form-group">
    <label for="avatar">Avatar</label>
    <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
    
    </div> -->
    <button type="submit" >SUBMIT</button>
</form>
</div>