<h1>MEAN Stack Auth Application</h1>
<h3>Test Cases</h3>
<li>User Registration with Angular with Node.js Saving Data In MongoDB</li>
<li>User Login Authentication using Json Web Token </li>
<li>User Profile and Update User Details in Profile</li>