<!--The content below is only a placeholder and can be replaced.-->
<link type="text/css" rel="stylesheet" href='../assets/style.css'>
<app-navbar></app-navbar>
<div class="container">
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
</div>
