<div class="loginform">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Account Login</h3>
      <form (submit)="onLoginSubmit()">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
        </div>
        <button type="submit" value="Login" class="btn btn-default">Login</button>
      </form>
    </div>
  </div>
</div>