<div *ngIf="user">
  <h3>Hello,{{user.username}}</h3>
  <div class="loginform">
    <h2 class="page-header">Profile</h2>
    <form (submit)="updateSubmit()">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username" readonly>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="name" class="form-control" name="name">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" [(ngModel)]="email" name="email">
      </div>
      <!-- <div class="form-group">
        <label>Profile</label>
        <input type="file" name="image" ng2FileSelect [(uploader)]="uploader" />
        <button type="button" class="button" (click)= "uploadfile()" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          Upload an Image
        </button>
      </div> -->
      <button type="submit" class="btn btn-default">Update</button>
    
    </form>
  </div>
</div>