
  body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #9e9e9e3d;
}

input, button, select, optgroup, textarea {
    margin: 3px 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.flash-message{
    margin: 20px auto;
    width: 400px;
    text-align: center;
    padding:0.5px;
    background-color:rgb(193, 226, 240);
}
.alert-danger{
    color:red;
}
.alert-success{
    color:rgb(19, 165, 80);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #2FA4E7;
}
li {
    text-align: center;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn {
    text-shadow: 0 1px 0 rgba(0,0,0,0.05);
    margin: 2% auto;
}

nav ul li:first-child { float: left; }
li a{
  text-decoration: none;
  background: #495057;
  padding: 8px;
  color: #ffffff;
  border-radius: 0.3ch;
}
nav ul li { 
  list-style:none;
  margin:10px;
  float: right; 
}
nav {
  overflow: hidden;
  background-color: #00bcd4c7;
  text-decoration:none;
  top: 0; 
  width: 100%; /* Full width */
}
.loginform {
	width: 370px;
	margin: 30px auto;
	padding: 25px;
	background-color: rgba(250,250,250,0.5);
	border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 
    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.loginform input:not([type=submit]) {
  padding: 5px;
  width: 100%;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef;
	
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}